@import "tailwindcss";
@import "nes.css/css/nes.min.css";
@import "./nes-custom.css";

/* Selection styling */
::selection {
  background-color: #209cee;
  color: #fff;
}

/* Custom scrollbar */
::-webkit-scrollbar {
  width: 8px;
}
::-webkit-scrollbar-track {
  background: #212529;
}
::-webkit-scrollbar-thumb {
  background: #209cee;
}
